header {
    display: flex;
    background: linear-gradient(#6303FA, #081300);
    color: lightgrey;
    font-size: 2em;
}

footer {
    background-color: #6303FA;
    font-size: 1em;
}


body {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

/*WIDOKI*/
.articles {
    display: flex;
    flex-basis: 85%;
}

article {
    display: none;
    flex-direction: column;
    flex: auto;
}

article:target {
    display: flex;
}

.maincontent {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}


/*MENU*/
nav {
    display: flex;
    flex-direction: column;
    background-color: #03AAFA;
    flex-grow: 1;
}

/*TABLEKA*/
table {
    width: 100%;
    font-size: 1em;
    margin: 0;
    padding: 0;
   
}

th {
    background-color: #1C02DE;
    color: lightgrey; 
}

tr{
    margin: 0;
    padding: 0;
}

th input{
    background-color: #1C02DE;
    color: lightgrey;   
    width: 100%;
}

tr:nth-child(even){
    background: #03AAFA
}

tr:nth-child(even) td input:not([type=submit]){
    background: #03AAFA
}

tr:nth-child(even) td select{
    background: #03AAFA
}

tr:nth-child(odd){
    background: #0E30F5
}

tr:nth-child(odd) td input:not([type=submit]){
    background: #0E30F5
}

tr:nth-child(odd) td select{
    background: #0E30F5
}

tr:hover{
    background-color: #1C02DE;
}

tr:hover td input:not([type=submit]){
    background-color: #1C02DE;
}

tr:hover td select{
    background-color: #1C02DE;
}

input:invalid {
    background-color: tomato;
  }

input {
    color: lightgrey; 
    border: none;
}

select{
    color: lightgrey; 
    border: none;
}

tr input:not([type=submit]){
    width: 100%;
    margin: 0;
    padding: 0;
}

tr select{
    margin: 0;
    padding: 0;
    width: 100%;
}

td {
    margin: 0;
    border: none;
    padding: 0;
}

.fakeButton {
    background-color: #6303FA;
    border: none;
    color: lightgray;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]{
    background-color: #6303FA;
    border: none;
    color: lightgray;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/*LINKI*/
a:not(.fakeButton) {    
    color: lightgrey;
    text-decoration: none;
}

a:hover:not(.fakeButton){
    text-decoration: underline;
}



/*PRINT*/
@media print {
    *{
        color: black;
        background-color: white; 
    }
}

/*colors
    #6303FA
    #1C02DE
    #0E30F5
    #025DDE
    #03AAFA
/*